@import url("./main.css");
.container{
  display: flex;
  flex-direction: column;
}
nav{
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #222222;;

  padding: 10px 20px 10px 20px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Galmuri9';
  font-weight: 400;
}
nav div a{
  margin-right: 30px;
}
a{
  text-decoration: none;
  color: #222222;
  font-size: 15px;
}
.maintitle a{
  font-weight: 500;
  text-shadow: -2px 0 #d9d9d9, 0 2px #d9d9d9, 2px 0 #d9d9d9, 0 -2px #d9d9d9;
  font-size: 20px;
  margin-left: 20px;
}
.box{
  width: 100%;
  height: 660px;
  padding: 30px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.sec1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bar{
  width: 400px;
  height: 30px;
  background-color: #d9d9d9;
  padding: 5px;
  box-sizing: border-box;
}

.bar:nth-child(1) .blood{
  width: 80%;
  height: 100%;
  background-color: #ff5555;
}

.bar:last-child .blood{
  width: 50%;
  height: 100%;
  background-color: #557bff;
}

.date{
  font-family: 'Galmuri9';
  font-weight: 700;
  font-size: 20px;
  text-shadow: -2px 0 #2222, 0 2px #2222, 2px 0 #2222, 0 -2px #2222;
}

.dateminus, .dateplus{
  font-family: 'Galmuri9';
  font-weight: 700;
  font-size: 15px;
}

.sec2{
  display: flex;
  padding: 10px;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.server{
  width: 480px;
  height: 550px;
  box-sizing: border-box;
  background-image: url("./image/rainy.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.user{
  width: 480px;
  height: 550px;
  box-sizing: border-box;
  background-image: url("./image/snow.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.vs{
  font-family: 'Galmuri11';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  width: max-content;
  height: max-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  
  -webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #d9d9d9;
}